<a href="https://colab.research.google.com/github/drm1072/Workload-DRM/blob/main/SVM_ALGORITHM_PART_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #Used for high level Data Indexing processes
import numpy as np  #Numpy provides fast mathematical function processing
import scipy.optimize as opt #Algorithm library used for high level plotting
from sklearn import preprocessing #A library used to make Scikit learn algorithms operate smoothly
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.model_selection import train_test_split #Has replaced "import sklearn.cross validation as cross_validation"
import matplotlib.pyplot as plt #Machine learning library to create plots and data visualizations
%matplotlib inline

In [2]:
#This is the raw github data to import csv files
cancerdata = pd.read_csv('https://raw.githubusercontent.com/Worlddatascience/DataSamples/master/Cancer_Data.csv')

In [3]:
cancerdata

          ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl Mit  Class
0    1000025      5         1          1  ...           3         1   1      2
1    1002945      5         4          4  ...           3         2   1      2
2    1015425      3         1          1  ...           3         1   1      2
3    1016277      6         8          8  ...           3         7   1      2
4    1017023      4         1          1  ...           3         1   1      2
..       ...    ...       ...        ...  ...         ...       ...  ..    ...
694   776715      3         1          1  ...           1         1   1      2
695   841769      2         1          1  ...           1         1   1      2
696   888820      5        10         10  ...           8        10   2      4
697   897471      4         8          6  ...          10         6   1      4
698   897471      4         8          8  ...          10         4   1      4

[699 rows x 11 columns]

In [4]:
#Shows us the entire dataset in rows and columns
cancerdata.shape

(699, 11)

In [5]:
#Class = Benign or malignant (2 being the closet to benign and 4 being the closet to malignant)
cancerdata["Class"].value_counts()

2    458
4    241
Name: Class, dtype: int64

In [6]:
#This is the dataframe
#Now we want to preview our data using the code below
#the number of rows and colums are displayed at the bottom
cancerdata.head()
#ID = Patient numbers
#Clump = Clump thickness
#Unifsize = Uniformity of cell size
#Unifshape + Uniformity of cell shape
#MargAdh = Marginal adhesion
#SingEpisize = Single epithelial cell size
#BareNuc = Bare Nuclei
#BlandChrom = Bland Chromatin
#NormNucl = Normal Nuclei
#Mit = Mitoses
#Class = Benign or Malignant

        ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl Mit  Class
0  1000025      5         1          1  ...           3         1   1      2
1  1002945      5         4          4  ...           3         2   1      2
2  1015425      3         1          1  ...           3         1   1      2
3  1016277      6         8          8  ...           3         7   1      2
4  1017023      4         1          1  ...           3         1   1      2

[5 rows x 11 columns]

In [7]:
cancerdata.isnull().values.any()

False

In [8]:
cancerdata

          ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl Mit  Class
0    1000025      5         1          1  ...           3         1   1      2
1    1002945      5         4          4  ...           3         2   1      2
2    1015425      3         1          1  ...           3         1   1      2
3    1016277      6         8          8  ...           3         7   1      2
4    1017023      4         1          1  ...           3         1   1      2
..       ...    ...       ...        ...  ...         ...       ...  ..    ...
694   776715      3         1          1  ...           1         1   1      2
695   841769      2         1          1  ...           1         1   1      2
696   888820      5        10         10  ...           8        10   2      4
697   897471      4         8          6  ...          10         6   1      4
698   897471      4         8          8  ...          10         4   1      4

[699 rows x 11 columns]

In [9]:
cancerdata.describe(include='all')

                  ID       Clump  ...         Mit       Class
count   6.990000e+02  699.000000  ...  699.000000  699.000000
unique           NaN         NaN  ...         NaN         NaN
top              NaN         NaN  ...         NaN         NaN
freq             NaN         NaN  ...         NaN         NaN
mean    1.071704e+06    4.417740  ...    1.589413    2.689557
std     6.170957e+05    2.815741  ...    1.715078    0.951273
min     6.163400e+04    1.000000  ...    1.000000    2.000000
25%     8.706885e+05    2.000000  ...    1.000000    2.000000
50%     1.171710e+06    4.000000  ...    1.000000    2.000000
75%     1.238298e+06    6.000000  ...    1.000000    4.000000
max     1.345435e+07   10.000000  ...   10.000000    4.000000

[11 rows x 11 columns]

In [10]:
#code to show us the different datatypes
cancerdata.dtypes

ID              int64
Clump           int64
UnifSize        int64
UnifShape       int64
MargAdh         int64
SingEpiSize     int64
BareNuc        object
BlandChrom      int64
NormNucl        int64
Mit             int64
Class           int64
dtype: object

In [11]:
#BareNuc should be an integer based on the data set
#extended code to make that change
cancerdata = cancerdata[pd.to_numeric(cancerdata['BareNuc'], errors='coerce').notnull()]
cancerdata['BareNuc'] = cancerdata['BareNuc'].astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
#Check datatypes again
cancerdata.dtypes

ID             int64
Clump          int64
UnifSize       int64
UnifShape      int64
MargAdh        int64
SingEpiSize    int64
BareNuc        int64
BlandChrom     int64
NormNucl       int64
Mit            int64
Class          int64
dtype: object

In [13]:
cancerdata.describe(include='all')

                 ID       Clump    UnifSize  ...    NormNucl         Mit       Class
count  6.830000e+02  683.000000  683.000000  ...  683.000000  683.000000  683.000000
mean   1.076720e+06    4.442167    3.150805  ...    2.869693    1.603221    2.699854
std    6.206440e+05    2.820761    3.065145  ...    3.052666    1.732674    0.954592
min    6.337500e+04    1.000000    1.000000  ...    1.000000    1.000000    2.000000
25%    8.776170e+05    2.000000    1.000000  ...    1.000000    1.000000    2.000000
50%    1.171795e+06    4.000000    1.000000  ...    1.000000    1.000000    2.000000
75%    1.238705e+06    6.000000    5.000000  ...    4.000000    1.000000    4.000000
max    1.345435e+07   10.000000   10.000000  ...   10.000000   10.000000    4.000000

[8 rows x 11 columns]

In [14]:
#Notice 16 rows have been deleted
cancerdata.shape

(683, 11)

In [15]:
#Class = Benign or malignant (2 being the closet to benign and 4 being the closet to malignant)
cancerdata["Class"].value_counts()

2    444
4    239
Name: Class, dtype: int64

In [16]:
#I want to see the full data
pd.options.display.max_rows = 999

In [17]:
#check dataframe again
cancerdata

           ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl  Mit  Class
0     1000025      5         1          1  ...           3         1    1      2
1     1002945      5         4          4  ...           3         2    1      2
2     1015425      3         1          1  ...           3         1    1      2
3     1016277      6         8          8  ...           3         7    1      2
4     1017023      4         1          1  ...           3         1    1      2
5     1017122      8        10         10  ...           9         7    1      4
6     1018099      1         1          1  ...           3         1    1      2
7     1018561      2         1          2  ...           3         1    1      2
8     1033078      2         1          1  ...           1         1    5      2
9     1033078      4         2          1  ...           2         1    1      2
10    1035283      1         1          1  ...           3         1    1      2
11    1036172      2         1          1  ...           2         1    1      2
12    1041801      5         3          3  ...           4         4    1      4
13    1043999      1         1          1  ...           3         1    1      2
14    1044572      8         7          5  ...           5         5    4      4
15    1047630      7         4          6  ...           4         3    1      4
16    1048672      4         1          1  ...           2         1    1      2
17    1049815      4         1          1  ...           3         1    1      2
18    1050670     10         7          7  ...           4         1    2      4
19    1050718      6         1          1  ...           3         1    1      2
20    1054590      7         3          2  ...           5         4    4      4
21    1054593     10         5          5  ...           7        10    1      4
22    1056784      3         1          1  ...           2         1    1      2
24    1059552      1         1          1  ...           3         1    1      2
25    1065726      5         2          3  ...           3         6    1      4
26    1066373      3         2          1  ...           2         1    1      2
27    1066979      5         1          1  ...           2         1    1      2
28    1067444      2         1          1  ...           2         1    1      2
29    1070935      1         1          3  ...           1         1    1      2
30    1070935      3         1          1  ...           2         1    1      2
31    1071760      2         1          1  ...           3         1    1      2
32    1072179     10         7          7  ...           7         4    3      4
33    1074610      2         1          1  ...           3         1    1      2
34    1075123      3         1          2  ...           2         1    1      2
35    1079304      2         1          1  ...           2         1    1      2
36    1080185     10        10         10  ...           8         9    1      4
37    1081791      6         2          1  ...           7         1    1      2
38    1084584      5         4          4  ...           5         6    1      4
39    1091262      2         5          3  ...           7         5    1      4
41    1099510     10         4          3  ...           6         5    2      4
42    1100524      6        10         10  ...           7         3    3      4
43    1102573      5         6          5  ...           3         1    1      4
44    1103608     10        10         10  ...           8        10    1      4
45    1103722      1         1          1  ...           2         1    2      2
46    1105257      3         7          7  ...           4         8    1      4
47    1105524      1         1          1  ...           2         1    1      2
48    1106095      4         1          1  ...           3         1    1      2
49    1106829      7         8          7  ...           3         8    2      4
50    1108370      9         5          8  ...           2         1    5      4
51    1108449      5         3          3  ...           3         4    1      4
52    1110102     10         3          6  ...           4        10    2      4
53    1110503      5         5          5  ...           7         3    7      4
54    1110524     10         5          5  ...           7         1    1      4
55    1111249     10         6          6  ...           3         6    1      4
56    1112209      8        10         10  ...           3         9    1      4
57    1113038      8         2          4  ...           5         4    4      4
58    1113483      5         2          3  ...           5         1    1      4
59    1113906      9         5          5  ...           5         1    1      4
60    1115282      5         3          5  ...           4        10    1      4
61    1115293      1         1          1  ...           2         1    1      2
62    1116116      9        10         10  ...           3         3    1      4
63    1116132      6         3          4  ...           3         9    1      4
64    1116192      1         1          1  ...           2         1    1      2
65    1116998     10         4          2  ...           4         3   10      4
66    1117152      4         1          1  ...           3         1    1      2
67    1118039      5         3          4  ...           4         9    1      4
68    1120559      8         3          8  ...           8         9    8      4
69    1121732      1         1          1  ...           3         2    1      2
70    1121919      5         1          3  ...           2         1    1      2
71    1123061      6        10          2  ...           7         8   10      4
72    1124651      1         3          3  ...           7         2    1      2
73    1125035      9         4          5  ...           4         8    1      4
74    1126417     10         6          4  ...           3         2    3      4
75    1131294      1         1          2  ...           4         2    1      2
76    1132347      1         1          4  ...           2         1    1      2
77    1133041      5         3          1  ...           2         1    1      2
78    1133136      3         1          1  ...           3         1    1      2
79    1136142      2         1          1  ...           2         1    1      2
80    1137156      2         2          2  ...           7         1    1      2
81    1143978      4         1          1  ...           2         1    1      2
82    1143978      5         2          1  ...           3         1    1      2
83    1147044      3         1          1  ...           7         1    1      2
84    1147699      3         5          7  ...           7        10    7      4
85    1147748      5        10          6  ...           4        10   10      4
86    1148278      3         3          6  ...           4         4    1      4
87    1148873      3         6          6  ...           6         8    3      4
88    1152331      4         1          1  ...           3         1    1      2
89    1155546      2         1          1  ...           2         1    1      2
90    1156272      1         1          1  ...           3         1    1      2
91    1156948      3         1          1  ...           1         1    1      2
92    1157734      4         1          1  ...           3         1    1      2
93    1158247      1         1          1  ...           2         1    1      2
94    1160476      2         1          1  ...           3         1    1      2
95    1164066      1         1          1  ...           3         1    1      2
96    1165297      2         1          1  ...           1         1    1      2
97    1165790      5         1          1  ...           3         1    1      2
98    1165926      9         6          9  ...           2         9   10      4
99    1166630      7         5          6  ...           7         9    4      4
100   1166654     10         3          5  ...           3        10    2      4
101   1167439      2         3          4  ...           2         5    1      4
102   1167471      4         1          2  ...           3         1    1      2
103   1168359      8         2          3  ...           7         1    1      4
104   1168736     10        10         10  ...           8         8    8      4
105   1169049      7         3          4  ...           3         2    7      4
106   1170419     10        10         10  ...           4         1    1      4
107   1170420      1         6          8  ...           5         7    1      4
108   1171710      1         1          1  ...           2         3    1      2
109   1171710      6         5          4  ...           7         8    3      4
110   1171795      1         3          1  ...           5         3    2      2
111   1171845      8         6          4  ...           3         1    1      4
112   1172152     10         3          3  ...           7         3    3      4
113   1173216     10        10         10  ...           8         1    1      4
114   1173235      3         3          2  ...           3         1    1      2
115   1173347      1         1          1  ...           1         1    1      2
116   1173347      8         3          3  ...           3         2    1      2
117   1173509      4         5          5  ...           7         5    8      4
118   1173514      1         1          1  ...           1         1    1      2
119   1173681      3         2          1  ...           3         1    1      2
120   1174057      1         1          2  ...           3         1    1      2
121   1174057      4         2          1  ...           3         1    1      2
122   1174131     10        10         10  ...           5         3    3      4
123   1174428      5         3          5  ...           5         3    1      4
124   1175937      5         4          6  ...           8        10    1      4
125   1176406      1         1          1  ...           2         1    1      2
126   1176881      7         5          3  ...           7         5    5      4
127   1177027      3         1          1  ...           3         1    1      2
128   1177399      8         3          5  ...           1         6    2      4
129   1177512      1         1          1  ...           1         1    1      2
130   1178580      5         1          3  ...           2         1    1      2
131   1179818      2         1          1  ...           3         1    1      2
132   1180194      5        10          8  ...           3         6    3      4
133   1180523      3         1          1  ...           2         2    1      2
134   1180831      3         1          1  ...           2         1    1      2
135   1181356      5         1          1  ...           3         3    1      2
136   1182404      4         1          1  ...           2         1    1      2
137   1182410      3         1          1  ...           1         1    1      2
138   1183240      4         1          2  ...           2         1    1      2
140   1183516      3         1          1  ...           1         1    1      2
141   1183911      2         1          1  ...           1         1    1      2
142   1183983      9         5          5  ...           4         3    3      4
143   1184184      1         1          1  ...           1         1    1      2
144   1184241      2         1          1  ...           2         1    1      2
146   1185609      3         4          5  ...           4         1    1      4
147   1185610      1         1          1  ...           2         1    1      2
148   1187457      3         1          1  ...           5         8    1      2
149   1187805      8         8          7  ...           7         8    7      4
150   1188472      1         1          1  ...           3         1    1      2
151   1189266      7         2          4  ...           5         4    3      4
152   1189286     10        10          8  ...           8        10    1      4
153   1190394      4         1          1  ...           1         1    1      2
154   1190485      1         1          1  ...           1         1    1      2
155   1192325      5         5          5  ...           3         1    1      4
156   1193091      1         2          2  ...           2         1    1      2
157   1193210      2         1          1  ...           3         1    1      2
159   1196295      9         9         10  ...           7        10    6      4
160   1196915     10         7          7  ...           5         7    2      4
161   1197080      4         1          1  ...           3         2    1      2
162   1197270      3         1          1  ...           3         1    1      2
163   1197440      1         1          1  ...           1         1    7      2
165   1197979      4         1          1  ...           3         2    1      2
166   1197993      5         6          7  ...           3        10    3      4
167   1198128     10         8         10  ...           3         1   10      4
168   1198641      3         1          1  ...           3         1    1      2
169   1199219      1         1          1  ...           1         1    1      2
170   1199731      3         1          1  ...           1         1    1      2
171   1199983      1         1          1  ...           3         1    1      2
172   1200772      1         1          1  ...           2         1    1      2
173   1200847      6        10         10  ...          10        10    7      4
174   1200892      8         6          5  ...           6         1    1      4
175   1200952      5         8          7  ...           5         7    1      4
176   1201834      2         1          1  ...           3         1    1      2
177   1201936      5        10         10  ...           5        10    3      4
178   1202125      4         1          1  ...           3         1    1      2
179   1202812      5         3          3  ...           3         1    1      4
180   1203096      1         1          1  ...           3         1    1      2
181   1204242      1         1          1  ...           1         1    1      2
182   1204898      6         1          1  ...           3         1    1      2
183   1205138      5         8          8  ...           7         8    1      4
184   1205579      8         7          6  ...           5         1    1      4
185   1206089      2         1          1  ...           3         1    1      2
186   1206695      1         5          8  ...           7        10    1      4
187   1206841     10         5          6  ...           7         7   10      4
188   1207986      5         8          4  ...           9        10    1      4
189   1208301      1         2          3  ...           3         1    1      2
190   1210963     10        10         10  ...           7        10    1      4
191   1211202      7         5         10  ...           4        10    3      4
192   1212232      5         1          1  ...           2         1    1      2
193   1212251      1         1          1  ...           3         1    1      2
194   1212422      3         1          1  ...           3         1    1      2
195   1212422      4         1          1  ...           3         1    1      2
196   1213375      8         4          4  ...           7         8    2      2
197   1213383      5         1          1  ...           3         1    1      2
198   1214092      1         1          1  ...           1         1    1      2
199   1214556      3         1          1  ...           2         1    1      2
200   1214966      9         7          7  ...           7         8    3      4
201   1216694     10         8          8  ...           8         1    1      4
202   1216947      1         1          1  ...           3         1    1      2
203   1217051      5         1          1  ...           3         1    1      2
204   1217264      1         1          1  ...           3         1    1      2
205   1218105      5        10         10  ...           7        10    5      4
206   1218741     10        10          9  ...           3         5    1      4
207   1218860      1         1          1  ...           3         1    1      2
208   1218860      1         1          1  ...           3         1    1      2
209   1219406      5         1          1  ...           3         1    1      2
210   1219525      8        10         10  ...           8        10    6      4
211   1219859      8        10          8  ...           7         7    1      4
212   1220330      1         1          1  ...           3         1    1      2
213   1221863     10        10         10  ...           7        10    4      4
214   1222047     10        10         10  ...          10         6    1      4
215   1222936      8         7          8  ...           5        10    2      4
216   1223282      1         1          1  ...           2         1    1      2
217   1223426      1         1          1  ...           3         1    1      2
218   1223793      6        10          7  ...           8        10    2      4
219   1223967      6         1          3  ...           3         1    1      2
220   1224329      1         1          1  ...           3         1    1      2
221   1225799     10         6          4  ...           9        10    1      4
222   1226012      4         1          1  ...           2         1    1      4
223   1226612      7         5          6  ...           7         4    1      4
224   1227210     10         5          5  ...           7         9    2      4
225   1227244      1         1          1  ...           2         1    1      2
226   1227481     10         5          7  ...           8         9    1      4
227   1228152      8         9          9  ...           7         7    1      4
228   1228311      1         1          1  ...           3         1    1      2
229   1230175     10        10         10  ...           9        10    1      4
230   1230688      7         4          7  ...           7         6    1      4
231   1231387      6         8          7  ...           8         9    2      4
232   1231706      8         4          6  ...           4         3    1      2
233   1232225     10         4          5  ...           4         1    1      4
234   1236043      3         3          2  ...           3         6    1      2
236   1241559     10         8          8  ...           4         8   10      4
237   1241679      9         8          8  ...           4        10    4      4
238   1242364      8        10         10  ...           3        10   10      4
239   1243256     10         4          3  ...           5         3    2      4
240   1270479      5         1          3  ...           2         3    1      2
241   1276091      3         1          1  ...           3         1    1      2
242   1277018      2         1          1  ...           3         1    1      2
243    128059      1         1          1  ...           5         1    1      2
244   1285531      1         1          1  ...           3         1    1      2
245   1287775      5         1          1  ...           3         1    1      2
246    144888      8        10         10  ...           7         8    1      4
247    145447      8         4          4  ...           3         3    1      4
248    167528      4         1          1  ...           3         6    1      2
250    183913      1         2          2  ...           1         1    1      2
251    191250     10         4          4  ...           5         3    3      4
252   1017023      6         3          3  ...           3         5    3      2

In [18]:
#Lets setup our model to be trained and tested
#features are the columns
#attributes are the values in the columns
cancerdata_features_columns = cancerdata[['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize', 'BareNuc', 'BlandChrom', 'NormNucl', 'Mit']]
#This is where the Numpy library comes in play
#We are setting up the X (independant variables)
x = np.asarray(cancerdata_features_columns)

In [19]:
#The y variable is our dependent variable
#This is our Y (dependant variable) because it is the answer we are looking for
cancerdata['Class'] = cancerdata['Class'].astype('int')
y = np.asarray(cancerdata['Class'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
#split the dataset into the training set and test the set
#We're splitting the data for training and testing
#70% of it will be for training and 30% of it will be tested for accuracy 70/30
#xtrain: this will be your training group
#xtest: this will be your test group
#ytrain: this will be your target for your training group
#ytest: target for your test group
#random_state of 0 gives you same value each time you change it, You will get different values 
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = 0.70, test_size = 0.30, random_state = 0, shuffle = True)

In [21]:
#print function shows us the actual values of the train and test the splits of the data rows we have
print ('Train set:', xtrain.shape, ytrain.shape)
print ('Test set:', xtrain.shape, ytrain.shape)

Train set: (478, 9) (478,)
Test set: (478, 9) (478,)

In [22]:
#Modeling (SVM with Scikit-learn)
#The SVM algorithm offers a choice of kernel functions for performing its processing.
#Basically, mapping data into a higher dimension for better accuracy is "kerneling."
#The mathematical function used for the transformation is known as the kernel function (1. Linear 2.Polynomial 3.Radius basis function(RBF) 4.Sigmoid)
#clfdata stands for classifier 
from sklearn import svm
clfdata = svm.SVC(kernel='rbf') #rbf is chosen because it is popular
clfdata.fit(xtrain, ytrain)#We are doing whats called fitting the model with the data we trained earlier

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [23]:
#Implement (yhat) function to all test values
#373 represents 30% of 1243 rows/values 
yhat = clfdata.predict(xtest)
yhat [0:205]

array([2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2,
       4, 2, 4, 4, 2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4,
       4, 2, 4, 2, 4, 4, 2, 4, 4, 4, 4, 2, 2, 2, 4, 4, 2, 2, 4, 4, 2, 2,
       4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 4, 2, 2,
       4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 2, 2,
       2, 2, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2,
       2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 4])

In [24]:
from sklearn.metrics import classification_report, confusion_matrix #importing confusion matrix library
import itertools
#itertools is an additional library frequently used in healthcare modeling/analysis because of speed and efficient looping

In [27]:
#compute confusion matrix
cnf_matrix = confusion_matrix(ytest, yhat, labels=[2,4])
np.set_printoptions(precision=2)

print(classification_report(ytest, yhat))

#plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=['Benign(2)','Malignant(4)'],normalize= False, title='Confusion matrix')
#precision is a measure of the accuracy provided that a class label has been predicted. It is defined by: precision = TP / (TP + FP)
#Recall is true positive rate.  It is defined as = Recall = TP (TP + FN)

              precision    recall  f1-score   support

           2       0.97      0.95      0.96       130
           4       0.92      0.95      0.93        75

    accuracy                           0.95       205
   macro avg       0.95      0.95      0.95       205
weighted avg       0.95      0.95      0.95       205

NameError: ignored